*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open sans', sans-serif;
    color: white;
}

body{
    background-color: #081C29;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    transition: all 0.5s linear;
    padding: 20px;
    z-index: 1;
}




header .container .navbar{
    display: flex;
    position: relative;
}

header .container .navbar li{
    list-style: none;
}

header .container .navbar li:not(:last-child){
    margin-right: 30px;
}

header .container .logo{
    font-size: 1.5rem;
    color: white;
    font-weight: 700;
    text-decoration: none;
    border: 2px solid white;
    padding: 5px 5px 5px 5px;
}

header .container .logo span{
    color: #0ef;
}

header .container .navbar a{
    font-size: 1rem;
    color: white;
    font-weight: 500;
    text-decoration: none;
}

header .container .navbar a:hover{
    color: #0ef;
    border-bottom: 1px solid #0ef;
    transition: 0.5s linear;
}

header .container .icon{
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: bold;
    display: none   ;
}

#contact{
    background-color: white;
    padding: 10px 30px;
    color: #081C29;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

#contact:hover{
    background-color: #0ef;
}

.text{
    color: #0ef;
    font-size: 1.5rem;
}

header.sticky{
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 1;
    transition: 0.3s linear;
}

header.sticky .container .logo{
    font-size: 1.5rem;
    color:#081C29;
    font-weight: 700;
    text-decoration: none;
    border: 2px solid black;
    padding: 5px 5px 5px 5px;
}

header.sticky .navbar li a{
    font-size: 1rem;
    color: #081C29;
    font-weight: 600;
    text-decoration: none;
}

header.sticky #contact{
    background-color:#081C29;
    padding: 10px 30px;
    color: white;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

/* menu-bar */

.menu-bar{
    position: fixed;
    background-color: white;
    width: 300px;
    opacity: 1;
    transform: translateX(-100%);
    z-index: 1;
}

.menu-bar.open{
    transform: translateX(0px);
}

.menu-bar .navbar li{
    list-style: none;
}

.menu-bar .navbar li a{
    color: black;
    text-decoration: none;
    display: flex;
    width: 100%;
    justify-content: center;
    font-weight: 600;
    padding-top: 10px;
}

.menu-bar .navbar li a:hover{
    color: #0ef;
}

/* home */

.home{
    display: flex;
    justify-content: center;
    height: 90vh;
}
.home .container{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    z-index: 0;
}

.home-content{
    animation: slideLeft 1s ease forwards;
}

@keyframes slideLeft {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translate(0px);
        opacity: 1;
    }
}

.home-content h1{
    font-size: 2.5rem;
    font-weight: bold;
}

.home-content .greets{
    font-size: 1.8rem;
}

.home .home-content p{
    max-width: 85%;
}

.img{
    border-radius: 50%;
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.contact-me{
    position: relative;
    display: flex;
    z-index: 0;
    gap: 10px;
}

.contact-me li{
    list-style: none;
    margin: 20px 0px 20px 0;
}

.contact-me .download{
    text-decoration: none;
    background-color: #0ef;
    padding: 10px;
    border-radius: 5px; 
    font-size: 1.2rem;
    font-weight: 700;
    color: black;
}

.contact-me .hire{
    text-decoration: none;
    background-color: transparent;
    padding: 10px;
    border-radius: 5px; 
    font-size: 1.2rem;
    font-weight: 700;
    border: 1px solid white;
}

.contact-me li a:hover{
    background-color: transparent;
    transition: 0.5s linear;
    border: 1px solid white;
    color: white;
}

.contact-me .hire:hover{
    background-color: #0ef;
    color: black;
    transition: all 0.5s linear;
    border: none;
}



.home .icons{
    margin: 10px 0 10px 0;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: bold;
    gap: 10px;
}

.home .icons i:hover{
    background-color: #0ef;  
    color: black; 
    border: none;
    font-weight: bold;
}

.home .icons i{
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
}

/* About */



.about .container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.about .container .column-two{
    max-width: 50%;
}

.h1-about{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.h1-about span{
    color: #0ef;    
}

.fullstack{
    margin-bottom: 1rem;
}

#paragraph-click{
    background-color: transparent;
    border: 1px solid white;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 1rem;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.5s linear;
    display: none;
}

#paragraph-click:hover{
    background-color: #0ef;
}

/* Service */

.service{
    padding: 100px;
}


.service .text h1{
    font-size: 2.5rem;
    text-align: center;
}

.service .text h1 span{
    color: #0ef;
}

.service .container{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.service .container .boxOne{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.service .container .technic{
    text-align: center;
}
.onePart .bar{
    margin-top: 20px
}

.service .container .onePart{
    flex-direction: column;
}
.onePart .bar .progress-line{
    position: relative;
    font-weight: bold;
    height: 5px;
    width: 500px;
    border-radius: 10px;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
    background-color: #000;
    transform: scaleX(0);
    transform-origin: left;
}

.onePart .bar .progress-line span{
    position: absolute;
    font-weight: bold;
    height: 100%;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    background-color: #0ef;
    transform: scaleX(0);
    transform-origin: left;
}

.onePart .bar #html::before{
    content: " HTML 90 %";
}

.onePart .bar #css::before{
    content: " CSS 85 %";
}

.onePart .bar #js::before{
    content: " JavaScript 75 %";
}

.onePart .bar #react::before{
    content: " React JS 80 %";
}

.onePart .bar #node::before{
    content: " Node JS 70 %";
}

.onePart .bar #wordpress::before{
    content: " WordPress 85 %";
}


.twoPart .bar{
    margin-top: 20px
}
.twoPart .bar .progress-line{
    position: relative;
    font-weight: bold;
    height: 5px;
    width: 500px;
    border-radius: 10px;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
    background-color: #000;
    transform: scaleX(0);
    transform-origin: left;
}

.twoPart .bar .progress-line span{
    position: absolute;
    font-weight: bold;
    height: 100%;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    background-color: #0ef;
    transform: scaleX(0);
    transform-origin: left;
}

.twoPart .bar #github::before{
    content: " Github 85 %";
}

.twoPart .bar #git::before{
    content: " Git 85 %";
}

.twoPart .bar #vscode::before{
    content: " VS Code 85 %";
}

.twoPart .bar #asana::before{
    content: " Asana 60 %";
}

.twoPart .bar #figma::before{
    content: " Figma 70 %";
}

@keyframes animate {
    100%{
        transform: scale(1);
    }
}

.progress-line.html span{
    width: 90%;
}

.progress-line.css span{
    width: 85%;
}

.progress-line.js span{
    width: 75%;
}

.progress-line.react span{
    width: 80%;
}

.progress-line.node span{
    width: 70%;
}

.progress-line.github span{
    width: 85%;
}

.progress-line.wordpress span{
    width: 85%;
}

.progress-line.git span{
    width: 85%;
}

.progress-line.vscode span{
    width: 85%;
}

.progress-line.asana span{
    width: 60%;
}

.progress-line.figma span{
    width: 70%;
}

.asanas{
    border-radius: 0;
    height: 10px;
    width: 10%;
    object-fit: cover;
    color: white;
}

.vs{
    border-radius: 0;
    height: 20px;
    width: 20px;
    object-fit: cover;
    color: white;
}

/* Project */

.project{
    padding: 0 100px 100px 100px;
}

.project .text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.project .container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}

.project .text h1{
    font-size: 2.5rem;
}

.project .text h1 span{
    color: #0ef;
}

.project .container .paragraph-project{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.project .container .paragraph-project .icon{
    font-size: 2rem;
    margin-bottom: 1rem;
}


.project .container .paragraph-project p a{
    text-decoration: none;
    font-weight: 600;
    background-color: #0ef;
    padding: 0.5rem;
    border-radius: 50px;
    margin-top: 1rem;
    color: black;
}

@media screen and (max-width: 1024px) {
    .container .logo{
        font-size: 1.5rem;
    }

    /* open */
    .home{
        display: flex;
        justify-content: center;
        /* align-items: center; */
        width: 100%;
        max-width: 900px;
        margin: auto;
        z-index: 0;
    }

    .home .home-content h1{
        font-size: 1.8rem;
    }
    .home .home-content h3{
        font-size: 1.2rem;
    }
    .home .home-content p{
        max-width: 80%;
    }
    img{
        width: 300px;
        height: 300px;
        object-fit: cover;
    }
    /* About */
    .about .container{
        max-width: 90%;
    }
    .about .container .column-two h1{
        position: relative;
        width: 100%;
        left: 1%;
        font-size: 1.5rem;
    }

    .about .container .column-two h2{
        font-size: 1.2rem;
    }

    .about .container .column-two p{
        font-size: 1rem;
    }
    .paragraph{
        display: none;
    }

    .about .container .column-one img{
        margin-top: 20px;
    }
    #paragraph-click{
        display: block;
        margin-bottom: 30px;
    }

    /* Service */

    .service .container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        padding: 50px;
        margin: auto;
    }
    .service .text h1{
        font-size: 1.5rem;
    }

    .service .technic{
        font-size: 1.3rem;
    }
    .onePart .bar .progress-line{
        width: 425px;
        margin-top: 5px;
    }
    .twoPart .bar .progress-line{
        width: 425px;
        margin-top: 5px;
    }
}

@media screen and (max-width: 768px) {
    header .container .logo{
        font-size: 1.5rem;
    }
    header .container .navbar li a{
        display: none;
    }
    header .container .icon{
        display: block;
        font-size: 1.5rem;
    }
    .menu-bar.open{
        height: 205px;
        transition: 0.6s linear;
        left: 60%;
        height: 170px;
    }

    header.sticky .container .logo{
        font-size: 1.2rem;
    }

    header.sticky .container .icon i{ 
        color: #081C29;
    }

    /* open */
    .home .container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-direction: column;
    }
    .home .home-content{
        max-width: 90%;
     }

    .home .home-content h1{
        font-size: 1.5rem;
    }
    .home .home-content h3{
        font-size: 1.3rem;
    }
    .home-picture img{
        width: 140px;
        height: 140px;
        object-fit: cover;
    }

    img{
        width: 200px;
        height: 200px;
        object-fit: cover;
    }
    .text{
        font-size: 1rem;
    }

    .contact-me .download{
        text-decoration: none;
        background-color: #0ef;
        padding: 8px;
        border-radius: 4px; 
        font-size: 1rem;
        font-weight: 600;
    }

    .contact-me .hire{
        text-decoration: none;
        background-color: transparent;
        padding: 8px;
        border-radius: 4px; 
        font-size: 1rem;
        font-weight: 600;
    }

    /* About */

    .about .container{
        max-width: 90%;
    }

    .about .container .column-two{
        max-width: 100%;
    }

    .about .container .column-two h1{
        font-size: 1.5rem;
    }

    .about .container .column-two p{
        text-align: center;
        font-size: 1rem;
    }

    .paragraph{
        display: none;
    }

    .about .container .column-one img{
        margin-top: 30px;
    }
    #paragraph-click{
        display: block;
        margin-bottom: 30px;
    }
    .h1-about span{
        margin-left: 5px;
    }
        /* Service */
    .service .container .boxOne{
        flex-direction: column;
        gap: 50px;
    }

    .service .text h1{
        font-size: 1.5rem;
    }
    .service h2{
        font-size: 1.3rem;
    }
    .onePart .bar .progress-line{
        width: 375px;
        margin-top: 5px;
    }
    .twoPart .bar .progress-line{
        width: 375px;
        margin-top: 5px;
    }
    #html, #css, #js, #react, #node, #wordpress, #github, #git, #vscode, #asana, #figma::before{
        font-size: 0.85rem;
    }
}

@media screen and (max-width: 425px) {
    header .container .logo{
        font-size: 1.5rem;
    }
    header .container .navbar li a{
        display: none;
    }
    header .container .icon{
        display: block;
        font-size: 1.5rem;
    }
    .menu-bar.open{
        height: 205px;
        transition: 0.6s linear;
        position: fixed;
        left: 0%;
        right: 0%;
        width: 100%;
        height: 170px;
    }
    header.sticky .container .logo{
        font-size: 1.2rem;
    }

    header.sticky .container .icon i{ 
        color: #081C29;
    }

     /* open */
     .home .container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-direction: column;
    }
     .home .home-content{
        max-width: 90%;
     }

     .home .home-picture{
        position: relative;
     }
     .home .home-content h1{
        font-size: 1.3rem;
    }
    .home .home-content h3{
        font-size: 1rem;
    }
    .home .home-content p{
        font-size: 0.8rem;
    }
    img{
        width: 150px;
        height: 150px;
        object-fit: cover;
    }

    .contact-me .download{
        text-decoration: none;
        background-color: #0ef;
        padding: 7px;
        border-radius: 4px; 
        font-size: 0.8rem;
        font-weight: 500;
    }

    .contact-me .hire{
        text-decoration: none;
        background-color: transparent;
        padding: 7px;
        border-radius: 4px; 
        font-size: 0.8rem;
        font-weight: 500;
    }

    .contact-me{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .home .icons{
        text-align: center;
        font-size: 0.8rem;
        cursor: pointer;
        font-weight: 800;
    }

    .home{
        flex-direction: column;
    }
    .home .icons i{
        border: 1px solid white;
        border-radius: 50%;
        padding: 5px;
    }

    .text{
        color: #0ef;
        font-size: 1rem;
    }
    /* About */

    .about .container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-direction: column-reverse;
    }

    .about .container .column-two{
        max-width: 85%;
        width: 100%;
    }

    .about .container .column-two h1{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.3rem;
    }

    .about .container .column-two h2{
        display: flex;
        justify-content: center;
        align-items: center;    
        font-size: 1.1rem;
    }

    .about .container .column-two p{
        text-align: center;
        font-size: 0.8rem;
    }
    .about .container .column-one img{
        margin-top: 30px;
    }
    #paragraph-click{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .h1-about span{
        margin-left: 5px;
    }

    /* Service */

    .service{
        margin-top: -50px;
    }

    .service .text h1{
        /* position: absolute; */
        font-size: 1.3rem;
    }
    .service h2{
        font-size: 1.1rem;
    }
    .onePart .bar .progress-line{
        width: 280px;
        margin-top: 5px;
    }
    .twoPart .bar .progress-line{
        width: 280px;
        margin-top: 5px;
    }
    #html, #css, #js, #react, #node, #wordpress, #github, #git, #vscode, #asana, #figma::before{
        font-size: 0.85rem;
    }
}

@media screen and (max-width: 320px) {
    header .container .logo{
        font-size: 1.2rem;
    }
    header .container .navbar li a{
        display: none;
    }
    header .container .icon{
        display: block;
        font-size: 1.2rem;
    }
    .menu-bar.open{
        height: 205px;
        transition: 0.6s linear;
        position: fixed;
        left: 0%;
        right: 0%;
        width: 100%;
        height: 170px;
    }

    header.sticky .container .logo{
        font-size: 1.2rem;
    }

    header.sticky .container .icon i{ 
        color: #081C29;
    }
     /* open */
     .home .container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-direction: column;
    }
    .home .home-content{
        max-width: 90%;
    }
    .home .home-content h1{
        font-size: 1.2rem;
    }
    .home .home-content h3{
        font-size: 0.8rem;
    }
    .home .home-content p{
        font-size: 0.8rem;
    }
    .home-picture img{
        width: 120px;
        height: 120px;
        object-fit: cover;
    }
    img{
        width: 120px;
        height: 120px;
        object-fit: cover;
    }
    .contact-me .download{
        text-decoration: none;
        background-color: #0ef;
        padding: 5px;
        border-radius: 4px; 
        font-size: 0.8rem;
        font-weight: 500;
    }

    .contact-me .hire{
        text-decoration: none;
        background-color: transparent;
        padding: 5px;
        border-radius: 4px; 
        font-size: 0.8rem;
        font-weight: 500;
    }
    .home .icons{
        margin-top: 5px;
        font-size: 0.8rem;
        cursor: pointer;
        font-weight: 800;
        width: 100%;
        text-align: center;
    }
    .home .container{
        flex-direction: column;
    }
    .home .icons i{
        border: 1px solid white;
        border-radius: 50%;
        padding: 5px;
    }

    .text{
        color: #0ef;
        font-size: 1rem;
    }

    /* About */

    .about .container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-direction: column-reverse;
    }

    .about .container .column-two h1{
        text-align: center;
        font-size: 1.2rem;
    }

    .about .container .column-two h2{
        font-size: 1rem;
    }

    .about .container .column-two p{
        font-size: 0.8rem;
    }

    .about .container .column-one img{
        margin-top: 30px;
    }
    .h1-about span{
        margin-left: 5px;
    }
    .contact-me{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    /* Service */

    .service{
        margin-top: -30px;
    }

    .service .text h1{
        font-size: 1.1rem;
    }
    .service .technic{
        font-size: 1rem;
    }
    .onePart .bar .progress-line{
        width: 220px;
        margin-top: 5px;
    }
    .twoPart .bar .progress-line{
        width: 220px;
        margin-top: 5px;
    }
    #html, #css, #js, #react, #node, #wordpress, #github, #git, #vscode, #asana, #figma::before{
        font-size: 0.8rem;
    }
}


